.card {
  background: #71797e;
  padding: 20px;
  border-radius: 20px;

  .head {
    display: flex;
    justify-content: space-between;

    .letter {
      display: grid;
      place-items: center;
      background: purple;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      font-size: 30px;
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.831);
    }

    .info {
      flex: 1;
      margin: 0 0 0 40px;
      font-size: 19px;
      p:last-child {
        font-weight: bold;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 10px;
    margin-top: 20px;

    .field {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .status {
      display: flex;

      p {
        padding: 6px;
        border-radius: 10px;
      }
    }
  }
}

/* çöp kutusu */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(255, 95, 95);
  cursor: pointer;
  border: 2px solid rgb(255, 201, 201);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 10px;
  z-index: 2;
}
.bin-top {
  width: 14px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 8px;
  height: auto;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
