@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 4px solid red;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-right-color: transparent;
  animation: rot 1s linear infinite;
  box-shadow: 0px 0px 20px red inset;
}

@keyframes rot {
  100% {
    transform: rotate(360deg);
  }
}
