@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f3f3f3;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply py-5 md:py-10 px-5 md:px-10 lg:px-20 max-w-[1440px] mx-auto;
  }

  .title {
    @apply text-3xl md:text-4xl font-semibold;
  }
}

.navbar {
  input {
    display: none;
  }

  .nav-text {
    display: none;
  }

  &:has(input:checked) .nav-text {
    display: block;
  }
}

canvas {
  width: 100% !important;
}

table th {
  padding: 0 20px;
}

table td {
  padding: 0 20px;
}
